<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/outputbookmarks.css') }}">
    <script src="{{ url_for('static', filename='./js/bookmarks.js') }} " defer ></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    <title>
        AniTracker
    </title>
</head>

<header>

    <div class="search-bar-backdrop"></div>

    <input type='checkbox' id='nav-toggle' class='nav-toggle'>

    <div class="nav-backdrop"></div>

    <div class="profile-icon-backdrop"></div>

    <label for='nav-toggle' class='nav-toggle-label'>
        <svg fill="#FFFFFF" style="margin-left: 5px;" width="30" height="30" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 24.75 24.75" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2 c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2 c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"></path> </g> </g></svg>
    </label>

    <nav class="nav">
        <label for='nav-toggle' class='nav-toggle-label'>
            <svg fill="#FFFFFF" style="margin-left: 5px;" width="30" height="30" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 24.75 24.75" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2 c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2 c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"></path> </g> </g></svg>
        </label>

        <div class="nav-logo">
            <a href="/">ANITRACKER</a>
        </div>

        <a class="nav-item" href="/">Home</a>
    </nav>

    <div class="interactive-box">
        <a href="/">ANITRACKER</a>
    </div>

    <form method="GET" action="{{ url_for ('search')}}" class="search-bar">
        <div>
        <input id="search-query" type="text" name="Search_Bar" placeholder="Search..."/>

        <div class="search-bar-dropdown"></div>
    </div>
    </form>

    <img src=" {{ url_for ('static', filename='./images/default-icon.png') }} " id="profile-icon" alt="Profile Icon" class="profile-icon"/>

    <div class="profile-menu-dropdown">
        <a href="{{ url_for('profile', username=current_user.username) }}" class="profile-menu-item">Profile</a>

        <form method="POST" action="{{ url_for('home') }}">
            <input type="submit" id='logout' name="logout" class="profile-menu-item" value="Logout"/>
        </form>

    </div>

</header>

<body>

    <div class="container">

        {% for bookmark in anime_list %}
            <div class ="bookmark-item">
                <div class="bookmark-image">
                    <a href="{{ url_for ('anime', title=bookmark['title'].replace(' ', '-'), id=bookmark['mal_id']) }}">
                        <img src="{{ bookmark['images']['jpg']['image_url'] }} ">
                    </a>
                </div>

                <div class="bookmark-info">

                    <div class="bookmark-info-title">
                        <a class="bookmark-info-title-text" href="{{ url_for ('anime', title=bookmark['title'].replace(' ', '_'), id=bookmark['mal_id']) }}">{{ bookmark['title'] }}</a>

                        {% if bookmark['status'] == 'Currently Airing' %}
                            <a class="bookmark-info-state">
                                <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle fill="#2da9d2" cx="18" cy="18" r="18"></circle></g></svg>
                                Airing
                            </a>
                        {% elif bookmark['status'] == 'Finished Airing' %}
                            <a class="bookmark-info-state">
                                <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle fill="#92b97e" cx="18" cy="18" r="18"></circle></g></svg>
                            Completed
                            </a>
                        {% else %}
                            <a class="bookmark-info-state">
                                <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle fill="#cf6830" cx="18" cy="18" r="18"></circle></g></svg>    
                                Not Aired
                            </a>
                        {% endif %}

                    </div>
                    
                    <div class="bookmark-info-stats">
                        <div class="bookmark-info-stats-item">
                            <div class="bookmark-info-stats-item-category">
                                <span>Score</span>
                            </div>
                            <div class="bookmark-info-stats-item-value">
                                <span>{{ bookmark['score'] }}</span>
                            </div>
                        </div>

                        <div class="bookmark-info-stats-item">
                            <div class="bookmark-info-stats-item-category">
                                <span>Rank</span>
                            </div>
                            <div class="bookmark-info-stats-item-value">
                                <span>{{ bookmark['rank'] }}</span>
                            </div>
                        </div>
                        <div class="bookmark-info-stats-item">
                            <div class="bookmark-info-stats-item-category">
                                <Span>Popularity</Span>
                            </div>
                            <div class="bookmark-info-stats-item-value">
                                <span>{{ bookmark['popularity'] }}</span>
                            </div>
                        </div>
                        <div class="bookmark-info-stats-item">
                            <div class="bookmark-info-stats-item-category">
                                <Span>Members</Span>
                            </div>
                            <div class="bookmark-info-stats-item-value">
                                <span>{{ bookmark['members'] }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="bookmark-info-tags">

                        {% if bookmark['rating'].split('-')[0]|trim == 'G' %}
                            <span class="bookmark-info-tags-tag" style="background-color: green;">{{ bookmark['rating'].split('-')[0] }}</span>
                        {% elif bookmark['rating'].split('-')[0]|trim == 'PG' %}
                            <span class="bookmark-info-tags-tag" style="background-color: rgb(153, 110, 31);">{{ bookmark['rating'].split('-')[0] }}</span>
                        {% elif bookmark['rating'].split('-')[0]|trim == 'R' %}
                            <span class="bookmark-info-tags-tag" style="background-color: red;">{{ bookmark['rating'].split('-')[0] }}</span>
                        {% endif %}

                        {% for genre in bookmark['genres'] %}
                            <a class="bookmark-info-tags-tag">{{ genre['name'].upper() }}</a>
                        {% endfor %}

                    </div>

                    <div class="bookmark-info-synopsis">
                        <a>{{ bookmark['synopsis'] }}</a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</body>

<footer>
    <p>&copy; 2026 AniTracker. All rights reserved.</p>
</footer>

</html>